{% extends "./layout/default" %}

{% block content %}
    <div class="row">
        <div class="col-lg-12">
            &nbsp;
        </div>
    </div>
    <div class="row">
        <div class="col-lg-6 offset-lg-3">
            <div class="card">
                <div class="card-body">
                    <h5 class="card-title">Firefly III YNAB Import Tool</h5>
                    <h6 class="card-subtitle mb-2 text-muted">v{{ version }}</h6>
                    <p class="card-text">
                        Welcome to the Firefly III YNAB import tool.
                    </p>
                    <p>
                        This tool is sparsely documented, you can find all the details you need
                        in the <a href="https://firefly-iii.gitbook.io/firefly-iii-ynab-importer/" target="_blank">
                            official documentation</a>. Any links you see to the docs will open in a new window or tab.
                    </p>
                    <a class="btn btn-success disabled" id="start" href="#"><i class="fas fa-cog fa-spin"></i></a>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
{% block scripts %}

    <script type="text/javascript">
        /*
        var uri = '{{ route('token.validate') }}';
        var tokenPageUri = '{{ route('token.index') }}';
        $.getJSON(uri).done(function (data) {
            if ('OK' === data.result) {
                $('#start').removeClass('disabled').text('Start here');
            } else {
                $('#start').hide();
                window.location = tokenPageUri;
            }
        }).fail(function() {
            $('#start').hide();
            window.location = tokenPageUri;
        });
        */
    </script>
{% endblock %}
